.home {
    background-color: #111927;
}

.cards {
    margin-top: 5px;
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: aqua;
}
.cards:hover{
    background-color: aqua;
    color: black;
    box-shadow: 5px 10px blue;
    border-radius: 12px;
}
.tbl{
    margin-top: 10px;               
    background: rgb(34,195,169);
    background: radial-gradient(circle, rgba(34,195,169,1) 45%, rgba(31,108,212,1) 100%);       
}
.trow{
    color: aqua;
}

.tcell{
    color: aqua ;
}

form{
    background-color: aqua;
    border-radius: 12px;

}
